---
import '../styles/global.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'CyberStrike: Advanced cybersecurity research',
	description = 'Trust CyberStrike for comprehensive vulnerability research and' + 
					'capability development services. Our team specializes' + 
					'in embedded vulnerability research, application security,' + 
					'and website security.  Contact us today to safeguard your digital assets.',
} = Astro.props;
---

<!--
 ______________________________________
/ hello, i'm gatekeeping vulnerability \
\ research                             /
 --------------------------------------
      \                    / \  //\
       \    |\___/|      /   \//  \\
            /0  0  \__  /    //  | \ \    
           /     /  \/_/    //   |  \  \  
           @_^_@'/   \/_   //    |   \   \ 
           //_^_/     \/_ //     |    \    \
        ( //) |        \///      |     \     \
      ( / /) _|_ /   )  //       |      \     _\
    ( // /) '/,_ _ _/  ( ; -.    |    _ _\.-~        .-~~~^-.
  (( / / )) ,-{        _      `-.|.-~-.           .~         `.
 (( // / ))  '/\      /                 ~-. _ .-~      .-~^-.  \
 (( /// ))      `.   {            }                   /      \  \
  (( / ))     .----~-.\        \-'                 .~         \  `. \^-.
             ///.----..>        \             _ -~             `.  ^-`  ^-_
               ///-._ _ _ _ _ _ _}^ - - - - ~                     ~-- ,.-~
                                                                  /.-~
 -->

<!-- SEO titles -->
<title>{title}</title>
<meta property='og:title'  content={title}>
<meta name='twitter:title' content={title}>

<!-- SEO descriptions -->
<meta name='description'         content={description}>
<meta property='og:description'  content={description}>
<meta name='twitter:description' content={description}>

<!-- SEO embed image -->
<meta property="og:image"  content="/assets/cs_logo.webp">
<meta name="twitter:image" content="/assets/cs_logo.webp">

<!-- embed color -->
<meta name="theme-color" content="#a61111" />

<!-- SEO sitemap -->
<link rel="sitemap" href="/sitemap-index.xml">

<!-- SEO viewport -->
<meta name="viewport" content="width=device-width" />

<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self';
script-src 'self';
style-src 'self' 'unsafe-inline';
object-src 'none';
base-uri 'self';
connect-src 'self';
font-src 'self';
frame-src 'self';
img-src 'self';
manifest-src 'self';
media-src 'self';
worker-src 'none';" />
